.Form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form__container form {
    border: 2px solid black;
    border-radius: 15px;

    width: 85%;
    padding: 10px;

    margin-bottom: 10px;

    display: grid;
    grid-template: 1fr / repeat(1fr, 4);

}

.Form__container form input {
    margin-bottom: 10px;
    padding: 5px;
}

.Form__container form label {
    margin-bottom: 5px;
}

.form__error {
    color: red;
    margin-bottom: 10px;
}