.Article__container {
    background-color: rgba(255, 255, 255, 0.2);

    border: 2px solid var(--dark-color);
    border-radius: 15px;

    text-align: center;

    width: 45%;
    margin: 15px;
}

.Article__container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.Article__container img {
    width: 60%;
}