.NotFound__container {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.return {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;

    font-size: 1.3rem;

    padding: 0 15px;
}

.return:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.NotFound__container p {
    margin-bottom: 15px;
}

/* Teléfonos pequeños */
@media screen and (min-width: 320px) {
    .NotFound__container {
        font-size: 1.3rem;
    }
}

/* Teléfonos promedio */
@media screen and (min-width: 480px) {
    .NotFound__container {
        font-size: 1.45rem;
    }
}

/* Tablet promedio */
@media screen and (min-width: 768px) {
    .NotFound__container {
        font-size: 1.6rem;

        width: 60vw;
        margin: 0 auto;
    }
}

/* Desktop pequeño */
@media screen and (min-width: 992px) {
    .NotFound__container {
        font-size: 2rem;
    }
}

/* Desktop grande */
@media screen and (min-width: 1200px) {}