table {
    border: 1px solid black;
    width: 60vw;

    text-align: center;
}

thead {
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

tbody {
    background-color: rgba(0, 0, 0, 0.1);
}