* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #EFC0FE;
  --dark-color: #000133;
  --light-color: #A442A0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}